{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto"
}
